<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalaEscape</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SalaEscape.styles.css" asp-append-version="true" />
</head>

<body>
    <header>

        <nav>

            <div class="logo">
                <img src="https://www.creativefabrica.com/wp-content/uploads/2021/05/15/space-logo-Graphics-12046515-2-580x387.png" alt="logo">
            </div>


            <div class="Contenedor">

                <ul class="lista">

                    <li><a href='@Url.Action("Index")'>Home</a></li>
                    <li><a href='@Url.Action("Tutorial")'>Tutorial</a></li>
                    <li><a href='@Url.Action("Creditos")'>Creditos</a></li>
                    <li><a href='@Url.Action("Personajes")'>Personajes</a></li>


                </ul>

            </div>

        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>